@model IEnumerable<Product>

@{
    ViewBag.Title = "Elementos del Menú de Tequilas";
}

@functions {
    string GetDeleteModalId(Product prod)
    {
        return "#deleteModal" + prod.ProductId;
    }

    string GetModalId(Product prod)
    {
        return "deleteModal" + prod.ProductId;
    }
}

<h2>Elementos del Menú de Tequilas</h2>
<a asp-action="AddEdit" asp-controller="Product" class="btn btn-primary">Crear Nuevo Elemento</a>

<div class="row">
    @foreach (Product prod in Model)
    {
        <div class="col-md-4">
            <form asp-action="delete" asp-controller="product" method="post">
                <input type="hidden" name="id" value="@prod.ProductId" />
                <div class="card" style="width: 18rem;">
                    <img src="@Url.Content("~/images/" + prod?.ImageUrl)" class="card-img-top fixed-image-height" alt="@prod.Description">
                    <div class="card-body">
                        <h5 class="card-title">@prod.Name</h5>
                        <p class="card-text">@prod.Description</p>
                        <p class="card-text">@prod.Price.ToString("C")</p>
                        <p class="card-text">Cantidad en Stock: @prod.Stock</p>
                        <a class="btn btn-info" asp-controller="Product" asp-action="AddEdit" asp-route-id="@prod.ProductId"><i class="bi bi-pencil-fill">Editar</i></a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@GetDeleteModalId(prod)">
                            <i class="bi bi-trash">Eliminar</i>
                        </button>
                        <div class="modal fade" id="@GetModalId(prod)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estás seguro de que deseas eliminar @prod.Name?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }
</div>